# Xcode
build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcworkspace/xcuserdata/
*.xcworkspace/xcshareddata/
*.xcodeproj/xcuserdata/
*.xcodeproj/xcshareddata/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
Pods/
Podfile.lock

# SPM
.build/
.swiftpm/

# IDE
.DS_Store
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local
